<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>

      <% if (isMe) { %>
      <a href="#">@提到我的人</a>
    <% } else { %>
      <button>关注</button>
    <% } %>
  </body>
</html>
